<!DOCTYPE html>
<html lang="en" ng-app="twiLu">
  <head>
    <%- include('header'); %>
    <title>CNKISearcher | Home</title>
    <link rel="stylesheet" href="stylesheets/bootstrap-select.min.css">
    <script type="text/javascript" src="javascripts/lib/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="javascripts/home.js"></script>
  </head>
  <body ng-app="twiLu" ng-controller="homeController">
    <div id="search-options" class="container text-center" align="center">
      <h3 class="text-center">CNKISearcher</h3>
      <div class="row" >
        <div class="col-md-2">
          <!-- <label for="user-name">Username</label> -->
          <input class="form-control" id="user-name" ng-model="userName" type="text"
          onkeyup = "if(event.keyCode == 13) document.getElementById('srch-btn').click();" placeholder="作者" />
        </div>
        <div class="col-md-6">
          <!-- <label for="tweet-text">Tweet</label> -->
          <input class="form-control" id="tweet-text" ng-model="tweetText" type="text"
           onkeyup = "if(event.keyCode == 13) document.getElementById('srch-btn').click();"
           placeholder="搜索文本" />
        </div>
        <div class="col-md-2">
          <input class="form-control" id="tweet-count" ng-model="tweetCount" type="text"
          onkeyup = "if(event.keyCode == 13) document.getElementById('srch-btn').click();" placeholder="最大结果数" />
        </div>
        <div class="col-md-1">
          <!--<button id="srch-btn" type="submit" class="btn btn-success" ng-click="search();" ><i class="fa fa-search" aria-hidden="true"></i> </button>-->
          <button id="srch-btn" type="submit" class="btn btn-success" ng-click="search();" >Search</button>
        </div>
      </div>
    </div>
    <h6 id="search-msg" class="text-center">{{ searchMsg }}</h6>
    <div id="search-results" class="container hidden">
      <div class="row">
        <div class="col-md-25">
          <table class="table table-striped table-hover table-condensed table-responsive">
            <thead>
              <!--<th>ID</th>-->
              <th>作者</th>
              <th>题名</th>
              <!-- <th>摘要</th> -->
            </thead>
            <tbody ng-repeat="r in results">
              <tr>
                <!--<td>{{ r.id }}</td>-->
                <td class="word-wrap-b">{{ r['作者'] }}</td>
                <td class="word-wrap-b">{{ r['题名'] }}</td>
              </tr>
              <tr>
                <td colspan="2" class="word-wrap" ng-show="r['摘要']!==undefined">　　{{ r['摘要'] }}</td>
                <td colspan="2" class="word-wrap-no" ng-show="r['摘要']==undefined">　　摘要不可用。</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
