body {
  background-color: #fcfcfc;
  color: #263238;
  margin-bottom: 4rem;
}

.navbar-centered {
        float: none;
        text-align: center;
}

.navbar-centered .navbar-nav {
        float: none;
        text-align: center;
}
.navbar-centered .navbar-nav > li {
    float: none;
}
.navbar-centered .nav > li {
    display: inline;
}
.navbar-centered .nav > li > a {
    display: inline-block;
}

.navbar {
  background-color: #4db6ac;
  color: #263238;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

label {
  display: block;
}

table tr {
    height: 30px;
}

.row {
  margin-top: 1rem;
}

#data-upload {
  display: none;
}

.home-select {
  width: 15rem !important;
}

.word-wrap {
  word-break: break-all;
}

.word-wrap-b {
  word-break: break-all;
  font-weight: bolder;
}

.word-wrap-b-i {
  word-break: break-all;
  font-weight: bolder;
  font-style: italic;
}

.word-wrap-no {
  word-break: break-all;
  font-weight: bolder;
  color: gray;
  font-style: italic;
}

.em {
  color: red;
}

.no-wrap {
  white-space: nowrap;
}
